<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Employé</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background-color:rgb(2, 9, 31)">

    <div class="container mx-auto px-3" style="max-width: 500px; margin-top: 80px;">


        <div class="card shadow-sm p-4 border-0" style=" background-color: rgb(242, 240, 242)";>
            <h1 class="text-center fw-bold mb-4">Ajouter un Employé</h1>


            <!-- Form to add contract -->
            <form method="POST">
                {% csrf_token %}
                
                <div class="mb-4">
                    
                       
                
                        <!-- Render the form -->
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
            
                </div>
                    
                
                <!-- Submit button styled with Bootstrap -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100 rounded-pill shadow-sm py-2">Enregistrer</button>

                </div>
            </form>

            <!-- Link to go back to the list of contracts -->
            <div class="text-center mt-4">
    <a href="{% url 'liste_employes' %}" class="btn btn-outline-secondary w-100 rounded-pill shadow-sm py-2">
        Retour à la liste
    </a>
</div>

        </div>
    </div>

</body>
</html>
