<!DOCTYPE html>
<html>
<head>
    <title>Liste des Contrats</title>
</head>
<body>
    <h1>Liste des Contrats</h1>
    {%if is_responsable_rh%}
    <a href="{% url 'ajouter_contrat' %}">Ajouter un contrat</a>
    <a href="{% url 'liste_archives' %}">Voir l'archive</a>
    <form method="get" action="{% url 'liste_contrats' %}">
        <input type="text" name="q" placeholder="Rechercher..." value="{{ query }}">
        <button type="submit">Rechercher</button>
    </form>
    {%endif%}
    <table>
        <tr>
            <th>Nom de l'Employé</th>
            <th>Type de Contrat</th>
            <th>Date de Début</th>
            <th>Date de Fin</th>
            <th>Actions</th>
        </tr>
        {% for contrat in contrats %}
        <tr>
            <td>{{ contrat.employe.nom }} {{ contrat.employe.prenom }}</td>
            <td>{{ contrat.get_type_contrat_display }}</td>
            <td>{{ contrat.date_debut }}</td>
            <td>{{ contrat.date_fin }}</td>
            <td>
                <a href="{% url 'afficher_contrat' contrat.id %}">consulter</a> |
                <a href="{% url 'modifier_contrat' contrat.id %}">Modifier</a> |
                <a href="{% url 'archiver_contrat' contrat.id %}">Supprimer</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Aucun contrat trouvé</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
