<!DOCTYPE html>
<html>
    {%load static%}
<head>
    <title>Liste des Formations</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Liste des Formations</h1>
    <a href="{% url 'ajouter_formation' %}">Ajouter une Formation</a>
    <ul>
        {% for formation in formations %}
        <li>
            <a href="{% url 'detail_formation' formation.id %}">{{ formation.titre }}</a> ({{ formation.date_debut }})
            <a href="{% url 'formations_employe'  %}">Formations employe</a> 
            {% if employe %}
            <a href="{% url 'inscrire_employe' formation.id employe.id %}">Inscrire employé</a>
            {% endif %}
            
        </li>
        {% endfor %}
    </ul>
</body>
</html>