<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Congés</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">
    <div class="container py-5">
        <h1>Liste des Congés</h1>
        {% if is_employe %}
        <a href="{% url 'demander_conge' %}" class="btn btn-primary mb-3">Demander un Congé</a>
        {% endif %}
        {% if is_agent_rh %}
        <a href="{% url 'liste_demandes' %}" class="btn btn-primary mb-3">Liste des demandes </a>
        {% endif %}
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employé</th>
                    <th>Type de Congé</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>solde annuel</th>
                    <th>solde maladie</th>
                    <th>statut</th>
                </tr>
            </thead>
            <tbody>
                {% for conge in conges %}
                <tr>
                    <td>{{ conge.id }}</td>
                    <td>{{ conge.employe.nom }} {{ conge.employe.prenom }}</td>
                    <td>{{ conge.type_conge }}</td>
                    <td>{{ conge.date_debut }}</td>
                    <td>{{ conge.date_fin }}</td>
                    <td>{{ conge.solde_annuel }} jours</td>
                    <td>{{ conge.solde_maladie }} jours</td>
                    <td>{{ conge.statut }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>